.box_linhvuchoatdong{
  padding: 40px 20px;
  .box_img{
    img{

    }
  }
  .uk-card-title{
    font-size: 15px;
    color: #0f3661;
    margin: 0 !important;
    margin-bottom: 10px !important;
    font-family:'NunitoSans ExtraBold',sans-serif;
  }
  .desc{
    font-family:'NunitoSans Regular',sans-serif;
  }
}