.title_sidebar_1{
  font-family: 'Montserrat Bold',sans-serif;
  font-size: 14px;
  color: #0b4789;
}
.item_new_lq{
  .title{
    font-size: 13px;
    font-family:'Montserrat Bold',sans-serif;
    margin-bottom: 10px;
    a{
      color: #0b4789;
    }
  }
}