.card-kh{
  border: 5px solid #ed1b23;
}
.kh-title{
  font-family:'SFCompactDisplay-Heavy';
  color: #ed1b23 !important;
  line-height: 1;
  font-size: 30px;
}

.move_img1{
  -webkit-animation: moveImage1 200s linear infinite;
}
.move_img2{
  -webkit-animation: moveImage1 170s linear infinite;
}