.block-dky{
  padding: 100px 0;
  .uk-list{
    li{
      letter-spacing: -0.5px;
      line-height: 1.56;
      color: #000;
      span{
        font-family:'SFCompactDisplay-Semibold';
        color: #000;
      }
    }
  }
}
.box-form-1{
  border-left: 2px solid #d80000;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  @media(min-width: 960px){
    padding: 0 50px;
  }
}
.form-1{
  color: #000;
  .uk-legend{
    font-family:'SFCompactDisplay-Medium';
    line-height: 1.08;
    letter-spacing: 6px;
    color: #000000;
    font-size: 22px;
  }
  .uk-input{
    color: #000000;
    border: solid 1px #ededed;
    border-radius: 4px;
    &::placeholder{
      color: #000000;
    }
  }
}
.bello-btn-1{
  max-width: 226px;
  width: 100%;
  box-shadow: 0 2px 20px 0 rgba(1, 1, 1, 0.11);
  border: solid 1px #e02020;
  background-color: #ffffff;
  color: #e02020;
  font-family:'SFCompactDisplay-Semibold';
  text-transform: inherit;
  &:hover{
    background-color: #e02020;
    color: #FFFFFF;
    border-color: #e02020;
  }
}
.bello-btn-2{
  padding: 0 10px;
  text-transform: inherit;
  color: #000;
  border: solid 1px #ededed;
  border-radius: 4px;
  .uk-icon{
    right: 15px;
    img{
      width: 15px;
    }
  }
}