.box-10{
  h2{
    font-size: 40px;
    line-height: 0.41;
    color: #ed1b23;
    font-family:'SFCompactDisplay-Heavy';
  }
  div{
    font-size: 22px;
    line-height: 0.72;
    @media(max-width: 560px){
      line-height: 1;
    }
    letter-spacing: 6px;
    color: #000000;
    font-family:'SFCompactDisplay-Light';
  }
  a{
    font-family:'SFCompactDisplay-Bold';
    color: #000;
  }
}