/*====================[Lato]====================*/
@font-face{
  font-family:'Lato-Regular';
  src:url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/*====================[SFCompactDisplay]====================*/
@font-face{
  font-family:'SFCompactDisplay-Regular';
  src:url('../fonts/SFCompactDisplay1/SF-Compact-Display-Regular.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/*====================[SFCompactDisplay]====================*/
@font-face{
  font-family:'SteelTongs';
  src:url('../fonts/SteelTongs.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'SFCompactDisplay-Medium';
  src:url('../fonts/SFCompactDisplay1/SF-Compact-Display-Medium.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'SFCompactDisplay-Heavy';
  src:url('../fonts/SFCompactDisplay1/SF-Compact-Display-Heavy.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'SFCompactDisplay-Light';
  src:url('../fonts/SFCompactDisplay1/SF-Compact-Display-Light.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'SFCompactDisplay-Thin';
  src:url('../fonts/SFCompactDisplay1/SF-Compact-Display-Thin.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'SFCompactDisplay-Bold';
  src:url('../fonts/SFCompactDisplay1/SF-Compact-Display-Bold.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'SFCompactDisplay-Semibold';
  src:url('../fonts/SFCompactDisplay1/SF-Compact-Display-Semibold.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'SFCompactDisplay-Black';
  src:url('../fonts/SFCompactDisplay1/SF-Compact-Display-Black.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}