.bello-bottom-f{
  background-color: rgba(14, 14, 14, 0.85);
  color: #a09d9d;
  line-height: 1.88;
  padding: 10px 0;
  font-family:'Lato-Regular';
  font-size: 13px;
}
.bello-top-f{
  background-color: rgba(0, 0, 0, 0.85);
  figure{
    img{
      width: 210px;
    }
  }
  address{
    line-height: 1.56;
    color: #FFFFFF;
    font-family:'SFCompactDisplay-Regular';
  }
}
.voucher{
  z-index: 100;
  img{
    width: 150px;

    visibility: visible;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-name: swing;
  }
}