@keyframes moveImage1 {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}

@keyframes swing {
  20% {
    transform: rotate(15deg)
  }
  40% {
    transform: rotate(-10deg)
  }
  60% {
    transform: rotate(5deg)
  }
  80% {
    transform: rotate(-5deg)
  }
  to {
    transform: rotate(0)
  }
}