/*====================[Roboto]====================*/
@font-face{
  font-family:'Roboto-Light';
  font-display: block;
  src: local('Roboto Light'), url('../fonts/Roboto/Roboto-Light_0.ttf') format('ttf');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Roboto-Medium';
  font-display: block;
  src: local('Roboto Medium'), url('../fonts/Roboto/Roboto-Medium_0.ttf') format('ttf');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Roboto-Bold';
  font-display: block;
  src: local('Roboto Bold'), url('../fonts/Roboto/Roboto-Bold_0.ttf') format('ttf');
  font-weight:normal;
  font-style:normal;
}
/*====================[Roboto Slab]====================*/
@font-face{
  font-family:'RobotoSlab-Light';
  font-display: block;
  src: local('Roboto Slab Light'), url('../fonts/Roboto Slab/RobotoSlab-Light.ttf') format('ttf');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'RobotoSlab-Bold';
  font-display: block;
  src: local('Roboto Slab Bold'), url('../fonts/Roboto Slab/RobotoSlab-Bold.ttf') format('ttf');
  font-weight:normal;
  font-style:normal;
}