.loi_bai_hat{
  .title{
    font-size: 15px;
    font-weight: bold;
  }
}
.btn_01{
  background-color: transparent;
  border: 1px solid #c9c9c9;
  width: 30px;
  height: 30px;
}
.info_baihat{
  .title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
  }
  .author{

  }
}
.btn-xemthem{
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  text-transform: inherit;
}
.title-baihat-1{
  font-size: 20px;
  font-weight: bold;
  small{
    color: #717171;
    font-size: 13px;
    font-weight: normal;
  }
}
.btn-binhluan{
  text-transform: inherit;
  background-color: #fc5661;
  border-color: #fc5661;
  color: #FFFFFF;
}
.title_user_bl{
  font-weight: bold;
  margin-top: 5px;
  font-size: 13.5px;
  small{
    font-weight: normal;
    color: #717171;
  }
}