/*====================[Rubik]====================*/
@font-face{
  font-family:'Roboto-BoldCondensed';
  src: url('../fonts/Roboto/Roboto-BoldCondensed.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}