body{
  font-size: 13px;
}
#app{
  @media(max-width: 960px){
    //background-size: cover;
  }
}
.uk-container{
  //max-width: 1200px;
  max-width: 1080px;
}
.uk-margin-small-right-15px{
  margin-right: 15px !important;
}