.box_nghe_si{
  padding: 8px;
}
.title_name_1{
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  a{
    color: #000;
  }
}
.luot_nghe_1{
  color: #bfbfbf;
  font-size: 12px;
  display: flex;
  align-items: center;
  i{
    font-size: 14px;
    margin-right: 5px;
  }
}
.hover1{
  &:hover{
    .title_name_1{
      color: #fc5262;
    }
  }
}
.box_2{
  border-radius: 16px !important;
}
.box_1{
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  .title{
    font-size: 13px;
    font-weight: 500;
    a{
      color: #222222;
    }
  }
}
.author{
  font-size: 12px;
  a{
    color: #525252;
  }
}
.icon-play{
  transition: opacity 0.2s linear;
  opacity: 0;
  visibility: visible;
  width: 48px;
  height: 48px;
  display: block;
  background: url("../images/icon.png") left -28px no-repeat;
}
.box_3{
  @extend .box_2;
  .stt{
    top: 5px;
    left: 5px;
    color: #fd5265;
    font-weight: bold;
    font-size: 15px;
    font-style: normal;
  }
  .uk-badge{
    background-color: #fff;
    width: 50px;
    height: 50px;
    left: -25px;
    top: -15px;
  }
  &:hover{
    .icon-play{
      opacity: 1;
    }
  }
}