.list-more-acts{
  .uk-list{
    li{
      margin: 0 !important;
      a{
        font-size: 13px;
        color: #32323d;
        font-weight: 400;
        background-color: inherit;
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        &:hover{
          background-color: #efefef;
        }
      }
    }
  }
}