#nav_mobile{
  box-shadow: 0 4px 4px rgba(0,0,0,.06);
  &.uk-navbar-transparent{
    box-shadow: none;
  }
  .uk-logo{
    img{
      height: 25px;
    }
  }
  .uk-navbar-item{
    min-height: 60px;
  }
}
#menu_content{
  //opacity: 0;
  //visibility: hidden;
  //transition: .3s ease-in-out;
  //transition-property: opacity,visibility;
  background: #373737;
  max-height: none;
  -webkit-backdrop-filter: none;
  position: absolute;
  height: 0;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  //backdrop-filter: none;

  transition: background .44s .2s cubic-bezier(0.52, 0.16, 0.24, 1),height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
  &.uk-active{
    background: #373737;
    //opacity: 1;
    //visibility: visible;
    height: 100%;
    position: fixed;

    transition: background .36s cubic-bezier(0.32, 0.08, 0.24, 1),height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
  }
}
.arrow-btn{
  background-color: #000000;
  width: 60px;
  height: 60px;
  bottom: 20px;
  img{
    width: 22px;
  }
  @media(max-width: 640px){
    width: 40px;
    height: 40px;
    img{
      width: 15px;
    }
  }
}
.box1_h{
  .c1{
    text-transform: uppercase;
    font-family:'Poppins-Bold';
    line-height: 1.58;
    letter-spacing: 5px;
    color: #ffffff;
    font-size: 30px;
    @media(max-width: 640px){
      font-size: 16px;
    }
  }
  .c2{
    text-transform: uppercase;
    font-family:'Poppins-Bold';
    line-height: 0.84;
    letter-spacing: -0.95px;
    color: #fecb00;
    font-size: 52px;
    margin-top: 5px;
    margin-bottom: 7px;
    @media(max-width: 640px){
      font-size: 30px;
    }
  }
  p{
    line-height: 1.24;
    letter-spacing: 0.68px;
    color: #ffffff;
    font-size: 17px;
    @media(max-width: 640px){
      font-size: 13px;
    }
  }
  .uk-button{

  }
}
.btn1{
  letter-spacing: 1px;
  text-align: center;
  color: #121212;
  background-color: #fecb00;
  font-family:'Rubik-Bold';
  @media(max-width: 640px){
    font-size: 13px;
  }
}
.change_lang{
  background-color: #ffffff;
  .uk-radio{
    display: none;
    &:checked + span{
      background-color: #fecb00;
      font-family:'Rubik-Bold';
    }
  }
  span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    color: #252525;
    font-size: 13px;
  }
}