.copyright {
  background-color: #161616;
  color: #8a8a8a;
  font-size: 12px;
  padding: 10px 0;
}

.menu1 {
  @media(max-width: 640px) {
    text-align: center;
  }
  li {
    &:hover{
      a{
        &:before{
          right: -30px;
        }
      }
    }
    a {
      font-size: 28px;
      line-height: 1.81;
      letter-spacing: -0.44px;
      color: #ffffff;
      font-family: 'Poppins-Bold';
      position: relative;
      text-decoration: none;
      span{
        position: relative;
        z-index: 2;
      }
      &:before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: calc(102% - 0px);
        bottom: 10px;
        height: 5px;
        background-color: #1067db;
        transition: .3s ease-in-out;
        transition-property: right;
      }
      @media(max-width: 640px) {
        font-size: 20px;
      }
    }
  }
}

.lang_menu {
  a {
    &.uk-active {
      color: #fff;
    }
  }
}