.price-dark{
  color: #F9C65F;
  .txt{
    font-size: 11px;
  }
  .number{
    font-size: 22px;
  }
}
.box-dark-1{
  border-bottom: 1px solid #ffcb85;
  .title{
    font-size: 16px;
    margin: 0;
    margin-bottom: 20px;
  }
}
.khuyenmai-dark{
  @extend .price-dark;
  color: #FFFFFF;
}
.price_khac{
  font-size: 13.5px;
  b{
    color: #000;
  }
  span{
    color: #F77E2A;
  }
}
.btn-dark-buy{
  background-image: linear-gradient(to right, #b38c55, #a87f4b, #ffcb85, #a67c4a);
  color: #000 !important;
  border: none;
  &.tuvan{
    padding: 0 20px;
    img{
      width: 28px;
    }
    .uk-input{
      background-color: #fff;
      color: #000;
      font-size: 13px;
      line-height: 28px;
      &::placeholder{
        color: #000;
      }
    }
  }
}
.title_detail_2{
  color: #000;
  font-size: 18px;
}
.table_thongso{
  tr{
    td{
      color: #000;
      .dark &{
        color: #fff;
        border: 1px solid #C4AA7C;
      }
      &:first-child{
        padding-left: 0;
        .dark &{
          padding-left: 10px !important;
        }
      }
    }
  }
}
.baiviet{
  color: #000;
  font-size: 13.5px;
  .dark &{
    padding: 15px;
    border: 1px solid #b38c55;
    color: #FFFFFF;
  }
}
.tab_detail{
  margin-left: 0;
  .dark &{
    &:before{
      display: none;
    }
  }
  .dark &{
    margin-left: -15px;
  }
  li{
    padding-left: 0;
    .dark &{
      padding-left: 15px;
    }
    &.uk-active{
      a{
        background-color: #2A8FD0;
        color: #ffffff;
        .dark &{
          background-image: linear-gradient(to right, #b38c55, #a87f4b, #ffcb85, #a67c4a);
          border-color: #b38c55;
        }
        &:before{
          @media(min-width: 960px){
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;

            border-top: 10px solid #2A8FD0;
            .dark &{
              border-top-color: #b38c55;
            }
          }
        }
      }
    }
    a{
      background-color: #F2F2F2;
      color: #000;
      padding: 10px;
      .dark &{
        color: #000 !important;
        padding: 10px 20px;
      }
    }
  }
}
.box_2{
  border-top: 1px solid #F2F2F2;
  .dark &{
    border: none;
  }
}
.title_detail_1{
  font-size: 22px;
  font-family:'Roboto Medium', sans-serif;
  color: #000;
}
.price-detail{
  span{
    font-size: 22px;
    color: #faa05a;
  }
  label{
    font-size: 12px;
  }
}
.btn_buy{
  padding: 10px 0;
  line-height: 25px;
  text-transform: inherit !important;
  &.uk-button-danger{
    background-color: #F97838;
    border-color: #F97838;
  }
  h2{
    line-height: 1;
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    font-family:'Roboto Bold', sans-serif;
  }
  div{
    font-size: 13px;
    color: #f3f3f3;
    margin-top: -5px;
    font-family:'Roboto Light', sans-serif;
  }
}
.box_price{
  border: 1px solid #E6E6E6;
}
.box_gift{
  border: 1px solid #E6E6E6;
  .dark &{
    border: 1px solid #C4AA7C;
  }
  .title{
    font-family:'Roboto Medium', sans-serif;
    font-size: 14px;
    color: #000;
    .dark &{
      color: #fff;
    }
  }
  .uk-list{
    font-size: 13px;
    color: #000;
    margin: 0;
    .dark &{
      color: #fff;
    }
    li{
      position: relative;
      padding-left: 20px;
      i.fa{
        position: absolute;
        top: 2px;
        left: 0;
        font-size: 15px;
        color: #faa05a;
      }
    }
  }
}
#sync1{
  .owl-nav{
    margin: 0;
    button{
      &:hover{
        background-color: transparent;
      }
      &:focus{
        outline: none;
      }
    }
  }
  .item{
    a{
      &:hover{
        cursor: zoom-in;
      }
    }
    .uk-padding-large{
      padding: 0 80px;
      @media(max-width: 640px){
        padding: 0 40px !important;
      }
    }
  }
}
#sync2{
  .owl-nav{
    button{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-top: 0;
      margin-bottom: 0;
      .dark &{
        color: #fff !important;
        background-color: #D6D6D6;
        &.disabled{
          display: none;
        }
        svg{
          color: #FFFFFF;
        }
      }
      &:focus{
        outline: none;
      }
      svg{
        height: 20px !important;
      }
      &.owl-prev{
        @media(min-width: 640px){
          right: 100%;
          .dark &{
            right: calc(100% - 20px);
          }
        }
        @media(max-width: 640px){
          left: 0;
        }
      }
      &.owl-next{
        @media(min-width: 640px){
          left: 100%;
          .dark &{
            left: calc(100% - 20px);
          }
        }
        @media(max-width: 640px){
          right: 0;
        }
      }
    }
  }
  .owl-item{
    &.active{
      &.current{
        .item{
          border-color: #2A8FD0;
        }
      }
    }
  }
  .item{
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    padding: 10px 0;
    @media(max-width: 640px){
      padding: 0px 0;
    }
    img{
      height: 70px;
      object-fit: contain;
    }
  }
}