body{
  font-size: 14px;
  font-family:'Roboto Regular', sans-serif;
  &.dark{
    background-color: #000000;
  }
}
.uk-grid-medium{
  @media(max-width: 640px){
    margin-left: -15px;
    >*{
      padding-left: 15px;
    }
    .uk-grid-margin{
      margin-top: 15px;
    }
  }
}
.uk-slidenav{
  color: #f4d595;
}