.info_mb{
  background-color: #E6E6E6 !important;
  .uk-navbar-nav{
    >li{
      >a{
        min-height: 36px;
        text-transform: inherit;
        color: #000;
        font-size: 12.5px;
      }
    }
  }
}
#header_mb{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  &.uk-sticky{
    &.uk-active{

    }
  }
  .uk-logo{
    img{
      height: 22px;
    }
  }
  .uk-navbar-item,
  .uk-navbar-toggle{
    min-height: 55px;
  }
}
.search_position{
  left: 0 !important;
  right: 0 !important;
  width: inherit;
  margin: 0;
  padding: 6px 10px;
  .uk-search-input{
    font-size: 15px;
  }
}
#header{
  z-index: 982;
  position: relative;
  background-color: #fff;
  .dark &{
    color: #fff;
    background-color: transparent;
  }
  &.uk-sticky{
    &.uk-active{
      z-index: 982;
      .box_search{
        .uk-input{
          .dark &{
            border-color: #1A1A1A;
            color: #1A1A1A;
            &::placeholder{
              color: #1A1A1A;
            }
          }
        }
      }
      .center_header{
        background-color: #fff;
        padding: 10px 0;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
        .txt_1{
          .dark &{
            color: #000 !important;
          }
        }
      }
      .logo_hoangia,
      .top_header_menu{
        display: none;
      }
      #hamber_menu{
        position: absolute;
        top: calc((60px - 45px)/2);
        float: none;
        &:hover{
          .txt_color_1{

          }
        }
        .txt_color_1{
          min-width: 207px;
          .dark &{
            color: #000;
          }
        }
      }
      .bottom_header{
        border: none;
        .uk-width-expand{
          display: none;
        }
      }
    }
  }
}
.top_header_menu{
  padding: 6px 0;
  .dark &{
    background-color: #999999;
  }
}
.menu_top{
  >li{
    padding-left: 10px;
    &:nth-child(n+2){
      &:before{
        border-color: #000 !important;
        height: 12px !important;
        margin-right: 10px !important;
      }
    }
    >a{
      text-transform: inherit !important;
      color: #000 !important;
      font-size: 13px !important;
    }
  }
}
.box_search{
  position: relative;
  .uk-input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .uk-button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 12px;
    background-image: linear-gradient(to right, #b38c55 , #a87f4b, #ffcb85, #a67c4a);
    color: #000;
  }
}
.box_icon{
  background-image: linear-gradient(to right, #b38c55 , #a87f4b, #ffcb85, #a67c4a);
  width: 38px;
  height: 38px;
  color: #000;
  font-size: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.txt_1{
  color: #000 !important;
  font-size: 13.5px;
  .dark &{
    color: #fff !important;
  }
}
.center_header{
  padding: 25px 0;
}
.bottom_header{
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  .uk-navbar-container{
    .uk-navbar-nav{
      >li{
        &:nth-child(n+2){
          >a{
            padding-left: 15px;
          }
        }
        >a{
          text-transform: inherit;
          min-height: 45px;
          color: #000;
          padding-left: 0;
          .dark &{
            color: #fff;
          }
          img{
            height: 30px;
          }
        }
      }
    }
  }
}