.slide_home_sp{
  @media (max-width: 640px) {
    margin-left: 0!important;
    margin-right: 15px!important;
  }
}
.info_sp{
  color: #666666;
  .dark &{
    color: #fff;
  }
  .catalog{
    font-size: 12px;
    .mb &{
      font-size: 10px;
    }
  }
  .title{
    font-size: 16px;
    margin-top: 0 !important;
    font-family:'Roboto Medium';
    .mb &{
      font-size: 14px;
    }
    a{
      color: #666666;
      .dark &{
        color: #fff;
      }
    }
  }
  .price{
    font-size: 15px;
    .mb &{
      font-size: 13px;
    }
  }
  .uk-button{
    font-size: 13px;
    min-width: 78px;
    .mb &{
      font-size: 11px;
      line-height: 25px;
      height: 25px !important;
    }
    &.uk-button-secondary{
      background-color: #666666;
      .dark &{
        color: #fff;
      }
    }
    &.uk-button-primary{
      background-color: #f4d595;
      color: #666666;
    }
  }
}
.box_1{
  .uk-cover-container{
    transition: all .3s;
  }
  &:hover{
    .uk-cover-container{
      transform: translateY(-5px);
    }
    .title{
      a{
        color: #f4d595;
      }
    }
  }
}