/*====================[Helvetica]====================*/
@font-face{
  font-family:'Helvetica-Neue-Bold';
  src: url('../fonts/Helvetica/helveticaneuebold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}