#ni-footer{
  background-color: #191919;
}
//========================================================
.title1_f{
  font-size: 17px;
  color: #ffffff;
}
//========================================================
.box_add_f{
  color: #cccccc;
}
//========================================================
.menu_bottom_f{
  li{
    a{
      @extend .box_add_f;
    }
  }
}
//========================================================
.social_f{
  a{
    @include anhvuong(35px,35px);
    text-decoration: none;
    svg{
      fill: #ffffff;
      color: #191919;
    }
    i.fa{
      color: #191919;
      font-size: 22px;
    }
  }
}